SECRET_KEY=change-me-generate-a-real-django-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

LANGUAGE_CODE=hu
TIME_ZONE=Europe/Budapest

SQLITE_NAME=db.sqlite3
STATIC_URL=/static/
STATIC_ROOT=staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=media
